<div class="example-list">
  <h2>{{ version | titlecase }}</h2>
  <p>Novedades y recursos de: {{ version | titlecase }}:</p>
  <b>Ejemplos</b>
  <ul>
    <li *ngFor="let example of examples">
      <a [routerLink]="['/', version, example.id]">{{ example.title }}</a>
    </li>
  </ul>

  <div *ngIf="version === 'angular-19'"  class="d-flex gap-3">
    <hr />

    <div>
      <b>Documentación Oficial:</b>
      <ul>
        <li *ngFor="let doc of officialDocs">
          <a [href]="doc.url" target="_blank">{{ doc.title }}</a>
        </li>
      </ul>
    </div>



    <div class="flex" *ngIf="relevantArticles.length">
      <b>Artículos Relevantes:</b>
      <ul>
        <li *ngFor="let article of relevantArticles">
          <a [href]="article.url" target="_blank">{{ article.title }}</a>
        </li>
      </ul>
    </div>

    <div>
      <b>Cheatsheet:</b>
      <ul>
        <li *ngFor="let doc of cheatsheet">
          <a [href]="doc.url" target="_blank">{{ doc.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
