<div class="example-list">
  <h2>{{ version }} it's Here !!!!</h2>
  <p>Here are some examples of changes introduced in {{ version }}:</p>
  <div *ngIf="version === 'angular-19'">
    <b>Documentación Oficial:</b>
    <ul>
      <li>
        <a href="https://angular.dev/guide/signals" target="_blank"
          >Guía de Signals en Angular</a
        >
      </li>
      <li>
        <a href="https://angular.dev/essentials/signals" target="_blank"
          >Reactividad con Signals</a
        >
      </li>
      <li>
        <a href="https://angular.dev/guide/forms/reactive-forms" target="_blank"
          >Formularios Reactivos en Angular</a
        >
      </li>
      <li>
        <a href="https://angular.dev/guide/forms/typed-forms" target="_blank"
          >Formularios Estrictamente Tipados</a
        >
      </li>
      <li>
        <a href="https://angular.dev/guide/universal" target="_blank"
          >Guía de Renderizado en Angular</a
        >
      </li>
    </ul>

    <b>Artículos Relevantes:</b>
    <ul>
      <li>
        <a
          href="https://www.telerik.com/blogs/angular-basics-signals"
          target="_blank"
          >Angular Basics: Signals</a
        >
      </li>
      <li>
        <a
          href="https://www.yeou.dev/articulos/novedades-angular19"
          target="_blank"
          >Angular 19: Novedades</a
        >
      </li>
      <li>
        <a
          href="https://runebook.dev/es/docs/angular/guide/typed-forms"
          target="_blank"
          >Formularios Tipados en Angular</a
        >
      </li>
      <li>
        <a
          href="https://angular.love/strongly-typed-reactive-forms-in-angular/"
          target="_blank"
          >Formularios Reactivos Fuertemente Tipados en Angular</a
        >
      </li>
      <li>
        <a
          href="https://www.yeou.dev/articulos/novedades-angular19"
          target="_blank"
          >Angular 19: Novedades</a
        >
      </li>
    </ul>
  </div>

  <b>
    Ejemplos
  </b>
  <ul>
    <li *ngFor="let example of examples">
      <a [routerLink]="['/', version, example.id]">{{ example.title }}</a>
    </li>
  </ul>

</div>
